ACR_ENDPOINT=crpi-iyetp24mk5qki59e-vpc.cn-guangzhou.personal.cr.aliyuncs.com
ACR_PUBLIC_ENDPOINT=crpi-iyetp24mk5qki59e.cn-guangzhou.personal.cr.aliyuncs.com
ACR_NAMESPACE=oral-sp
API_REPOSITORY=oral-sp-api
STUDENT_REPOSITORY=oral-sp-student
TEACHER_REPOSITORY=oral-sp-teacher
IMAGE_TAG=build-1
